#container {
    position: absolute;
    height: 100px;
    border: 5px solid black;
}

.whitenote {
    height: 100%;
    width: 50px;
    background: white;
    float: left;
    border-right: 1px solid black;
    position: relative;
}

.blacknote {
    position: absolute;
    height: 65%;
    width: 55%;
    z-index: 1;
    background: #666;
    left: 68%
}